<div ng-controller="MyCtrl">
        <jk-carousel
                data="vm.dataArray"
                item-template-url="'pages/item-template.html'"
                max-width="1920" 
                max-height="700"
                auto-slide="true"
                auto-slide-time="8000" 
                current-Index="0">
        </jk-carousel>
        <!-- Caracteristicas -->
        <div layout="row" layout-sm="column" layout-xs="column" class="contenedor-Caracteristicas">
                <div flex="15">
                </div>
                <md-card flex class="wow fadeInLeft"> 
                        <md-card-header>
                                <md-button class="md-fab md-warn" aria-label="Metodologia">1</md-button>
                                <h2 class="caracteristicas">Somos <span>Profesionales</span></h2>
                        </md-card-header>
                        <md-card-content>
                                <p>
                                Desde el inicio del proyecto contará con una atención cercana y unos resultados predecibles. Sin sorpresas ni costes ocultos, creamos soluciones que funcionan, en los plazos acordados.
                                </p>
                                <br>
                                <p>
                                <strong>Así de sencillo.</strong>
                                </p>
                        </md-card-content>
                </md-card>
                <md-card flex class="wow fadeIn"> 
                        <md-card-header>
                        <md-button class="md-fab md-warn" aria-label="Metodologia">2</md-button>
                        <h2 class="caracteristicas">Tecnología <span>Puntera</span></h2>
                        </md-card-header>
                        <md-card-content>
                        <p>
                        Nos divierte probar nuevas arquitecturas, nuevos frameworks, nuevos lenguajes, una forma alternativa de hacer las cosas. Aprendemos para poder hacerlo mejor, más simple, más económico.
                        </p>
                        <br>
                        <p>
                        <strong>¿De eso se trata, no?</strong>
                        </p>
                        </md-card-content>
                </md-card>
                <md-card flex class="wow fadeInRight"> 
                        <md-card-header>
                        <md-button class="md-fab md-warn" aria-label="Metodologia">3</md-button>
                        <h2 class="caracteristicas">Clientes <span>Contentos</span></h2>
                        </md-card-header>
                        <md-card-content>
                        <p>
                        Nos sentimos orgullosos de crear relaciones sólidas y duraderas con nuestros clientes. Con el paso del tiempo las tecnologías cambian, pero las relaciones que funcionan permanecen.
                        </p>
                        <br>
                        <p>
                        <strong>Por algo será.</strong>
                        </p>
                        </md-card-content>
                </md-card>
                <div flex="15"></div>
        </div>
        <!-- /Caracteristicas -->

        <!-- /Paralax-Tecnologia -->
        <div class="tecnologia">
                <div layout="row">
                        <div class="wow fadeIn container-tecnologia">
                                <h2><strong>Ponemos la tecnología <span>al alcance de tu bolsillo<span></strong></h2>
                                <p>Nos encanta la tecnología y las posibilidades que ofrece para materializar proyectos, ideas y oportunidades de negocio.
Hemos colaborado con decenas de clientes, desde PyMES a grandes empresas, pero siempre con la misma filosofía: 
para nosotros cada proyecto es único y especial.

Si tienes un proyecto, una empresa o necesitas asesoramiento técnico, no dudes en contactarnos sin compromiso!</p>
                        </div>
                </div>
        </div>
        <!-- /Paralax-Tecnologia -->

        <!-- Proyectos -->
        <div layout="column" class="contenedor-Caracteristicas">
                <h2 class="wow fadeIn">Algunos de <span>nuestros proyectos</span></h2>
        <div layout="row" layout-sm="row" layout-xs="column">
                <div flex="15">
                </div>
                <div layout-xl="row" layout-lg="row" layout-md="column">
                <md-card flex class="wow fadeInDown"> 
                        <md-card-header>
                                <img src="./img/cerveza-bodega.jpg">
                        </md-card-header>
                        <md-card-title>
                                <md-card-title-text>
                                        <span class="md-headline">Gestión Cerveza de Bodega - Hijos de Rivera S.A.</span>
                                </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                                <p>
                                Herramienta de gestión del proceso de llenado, distribución y reparto de cerveza de bodega mediante camiones cisterna
                                </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                                <md-button>Ver Más</md-button>
                        </md-card-actions>
                </md-card>
                <md-card flex class="wow fadeInUp"> 
                        <md-card-header>
                                <img src="./img/fichaAeroparkingBarcelona.jpg">
                        </md-card-header>
                        <md-card-title>
                                <md-card-title-text>
                                        <span class="md-headline">Gestión Cerveza de Bodega - Hijos de Rivera S.A.</span>
                                </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                                <p>
                                Desde el inicio del proyecto contará con una atención cercana y unos resultados predecibles. Sin sorpresas ni costes ocultos, creamos soluciones que funcionan, en los plazos acordados.
                                </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                                <md-button>Ver Más</md-button>
                        </md-card-actions>
                </md-card>
                </div>
                <div layout-xl="row" layout-lg="row" layout-md="column">
                <md-card flex class="wow fadeInDown"> 
                        <md-card-header>
                                <img src="./img/secretosdegranada.jpg">
                        </md-card-header>
                        <md-card-title>
                                <md-card-title-text>
                                        <span class="md-headline">Gestión Cerveza de Bodega - Hijos de Rivera S.A.</span>
                                </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                                <p>
                                Desde el inicio del proyecto contará con una atención cercana y unos resultados predecibles. Sin sorpresas ni costes ocultos, creamos soluciones que funcionan, en los plazos acordados.
                                </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                                <md-button>Ver Más</md-button>
                        </md-card-actions>
                </md-card>
                <md-card flex class="wow fadeInUp"> 
                        <md-card-header>
                                <img src="./img/gestion-averias.jpg">
                        </md-card-header>
                        <md-card-title>
                                <md-card-title-text>
                                        <span class="md-headline">Gestión Cerveza de Bodega - Hijos de Rivera S.A.</span>
                                </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                                <p>
                                Desde el inicio del proyecto contará con una atención cercana y unos resultados predecibles. Sin sorpresas ni costes ocultos, creamos soluciones que funcionan, en los plazos acordados.
                                </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                                <md-button>Ver Más</md-button>
                        </md-card-actions>
                </md-card>
                </div>
                <div flex="15"></div>
        </div>
        <div class="ver">
                <md-button ng-href="" class="md-warn" target="_blank">Ver todos los Proyectos</md-button>
        </div>
        </div>
        <!-- /Proyectos -->

        <!-- /Paralax-presupuesto -->
        <div class="presupuesto">
                <div layout="row">
                        <div class="wow fadeIn container-presupuesto">
                                <h2><strong>Pídenos <span>presupuesto sin compromiso<span></strong></h2>
                                <div layout="column" class="formulario">
                                        <div>
                                                <md-input-container class="md-block">
                                                        <label>Email</label>
                                                        <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                                                        minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                                                        <div ng-messages="projectForm.clientEmail.$error" role="alert">
                                                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" class="msgadv">
                                                        Tu email debe contener entre 10 y 100 caracteres y ser un email valido.
                                                        </div>
                                                        </div>
                                                </md-input-container>
                                        </div>
                                        <div>
                                                <md-input-container class="md-block">
                                                        <label>Descripcion</label>
                                                        <textarea ng-model="user.biography" md-maxlength="150" rows="4" md-select-on-focus></textarea>
                                                </md-input-container>
                                        </div>
                                        <div>
                                                <md-button class="md-raised">Enviar</md-button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <!-- /Paralax-presupuesto -->

        <!-- /Paralax-soluciones -->
        <div class="soluciones">
                <div layout="row">
                        <div class="wow fadeIn container-soluciones">
                                <h2><strong>Soluciones sencillas y prácticas que <span>funcionan<span></strong></h2>
                                <hr>
                                <p>En Civica nos involucramos al máximo en tu proyecto, esforzándonos en comprender bien tus necesidades para ayudarte a definir la solución que necesitas. 
También nos encargamos de diseñarla y construirla en el menor tiempo y coste posible, usando la tecnología más adecuada y, sobre todo, sin reinventar la rueda.
Esa es nuestra forma de trabajo, respaldada por los múltiples proyectos de éxito realizados para nuestros clientes.</p>
<p><strong>¿Nos dejas ayudarte?</strong></p>
                        </div>
                </div>
        </div>
        <!-- /Paralax-soluciones -->
</div>